footer.footer
	.footer__body
		.footer__center.center
			.footer__row
				.footer__col
					.footer__title About
					.footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
				.footer__col
					.footer__title contact us
					.footer__line
						.footer__cell
							.footer__item
								.footer__icon
									+i('place')
								.footer__info
									p 5419 Joseph Mountains
									p Apt. 716
						.footer__cell
							.footer__item
								.footer__icon
									+i('mail')
								.footer__info
									a.footer__link(href="mailto:joga.info@example.com") joga.info@example.com
					.footer__line
						.footer__cell
							.footer__item
								.footer__icon
									+i('phone')
								.footer__info
									a.footer__link(href="tel:+123456789") +123456789
									a.footer__link(href="tel:+123456780") +123456780
						.footer__cell
							.footer__item
								.footer__icon
									+i('earth')
								.footer__info
									a.footer__link(href="#") www.example.com
			// social
			.footer__social.social
				a.social__link(href="#")
					+i('pinterest')
				a.social__link(href="#")
					+i('twitter')
				a.social__link(href="#")
					+i('facebook')
				a.social__link(href="#")
					+i('google-plus')
				a.social__link(href="#")
					+i('instagram')
	.footer__copyright Copyright  ©  2016-2017 Yoga classes

		

