header.header
	.header__center.center
		nav.header__nav.js-menu
			.header__left
				a.header__item.js-menu-item.active(href="#about") About us
				a.header__item.js-menu-item(href="#reservation") Reservation
				a.header__item.js-menu-item(href="#gallery") Gallery
			.header__right
				a.header__item.js-menu-item(href="#blog") Blog
				a.header__item.js-menu-item(href="#elements") Eletments
				a.header__item.js-menu-item(href="#shop") Shop
		// logo
		a.header__logo.logo(href="#")
			.logo__preview
				img.logo__pic(src="img/logo.png" width="67px")
			.logo__text yoga
		button.header__burger.js-burger
			+i('burger')
			+i('close')

	//- .header__center.center
	//- 	nav.header__nav.header__nav_left
	//- 		a.header__item.active(href="#") About us
	//- 		a.header__item(href="#") Reservation
	//- 		a.header__item(href="#") Gallery
	//- 	// logo
	//- 	a.header__logo.logo(href="#")
	//- 		.logo__preview
	//- 			img.logo__pic(src="img/logo.png" width="67px")
	//- 		.logo__text yoga
	//- 	nav.header__nav.header__nav_right
	//- 		a.header__item(href="#") Blog
	//- 		a.header__item(href="#") Eletments
	//- 		a.header__item(href="#") Shop
	//- 	button.header__burger
	//- 		+i('burger')
	//- 		+i('close')


